{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Detail {% endblock %}
{% block extrastyles %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
            url("{{ asset('img/backdrops/' ~ serie.backdrop) }}");
        }
    </style>
{% endblock %}

{% block body %}

<h2>Detail</h2>

    <div class="row">
        <div>
            <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
        </div>
        <div class="block">
            <div> Name : {{ serie.name }} </div>
            <div> Synopsis : {{ serie.overview }} </div>
            <div> Popularity : {{ serie.popularity }}%</div>
            <div> First air date : {{ serie.firstAirDate|date('d/m/Y') }} </div>
            <div> Last air date : {{ serie.lastAirDate|date('d/m/Y') }} </div>
            <a href="{{ path('serie_edit',{'id' : serie.id}) }}">Edit this serie</a>
            <a href="{{ path('serie_delete',{'id' : serie.id}) }}">Delete this serie</a>
        </div>
        <section class="block">
            <h3>Seasons</h3>
            {% for season in serie.seasons %}
                <article>
                    <img src="{{ asset('img/posters/seasons/' ~season.poster) }}" alt="{{ serie.name }}">
                    <div>
                        <h4>Season #{{ season.number }}</h4>
                        <div>{{ season.firstAirDate|date('Y-m-d') }}</div>
                        {% if season.overview %}
                            <div>{{ season.overview }}</div>
                        {% endif %}
                    </div>
                </article>

            {% endfor %}
        </section>
    </div>

{% endblock %}

