<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Series {% endblock %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Freckle+Face&family=Fredoka+One&family=Indie+Flower&family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
    <!-- <link rel="stylesheet" href="{{ asset('styles/normalize.css') }}"> -->
    <link rel="icon" href="{{ asset('img/MicrosoftTeams-image.png') }}">

    {% block extrastyles %} {% endblock %}

</head>
<body>
<header>
    <h1>Rating exciting TV shows<a href="{{ path('main_home') }}"><img src="{{ asset('img/MicrosoftTeams-image.png') }}" alt="series"></a></h1>
    {% include 'menu/nav.html.twig' %}

</header>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">{{ message }}</div>
    {% endfor %}
{% endfor %}

<main>
    {% block body %} {% endblock %}
</main>

<footer>
    <div class="footer">
        <p>Un footer pour le style</p>
    </div>
</footer>
</body>
<script src="{{ asset('script/ajax.js') }}"></script>
</html>