<nav>
    <div class="topnav">
        <ul class="nav">
            <li><a href="{{ path('main_home') }}" title="home">Home</a></li>
            <li><a href="{{ path('serie_list', {'page' : 1}) }}" title="all series">All series</a></li>
            {% if (app.user) %}
            <li><a href="{{ path('serie_create') }}" title="add new serie">Add a new serie</a></li>
            <li><a href="{{ path('season_create') }}" title="add new season">Add a new season</a></li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="{{ path('admin_dashbord') }}" title="dashbord">Dashbord</a></li>
                {% endif %}
            <li><a href="{{ path('app_logout') }}" title="logout">Logout ({{ app.user.firstName }})</a></li>
            {% else %}
            <li><a href="{{ path('app_login') }}" title="login">Login</a></li>
            <li><a href="{{ path('app_register') }}" title="register">Register</a></li>
            {% endif %}
            <li><a href="{{ path('main_test') }}" title="test">Tests</a></li>
        </ul>
    </div>
</nav>